/*
Css es para que la pagina sea bonita
*/


/* etiqueta con atributo: id=estilo -> #estilo{ */
/* etiqueta con atributo: class=estilo -> .estilo{ */


/*---------
importacion de fuentes
---------*/
@font-face {
    font-family: "Spoof Trial Thin";
    src: url("https://db.onlinewebfonts.com/t/215107c04d97667966f3b627c9e79860.eot");
    src: url("https://db.onlinewebfonts.com/t/215107c04d97667966f3b627c9e79860.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/215107c04d97667966f3b627c9e79860.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/215107c04d97667966f3b627c9e79860.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/215107c04d97667966f3b627c9e79860.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/215107c04d97667966f3b627c9e79860.svg#Spoof Trial Thin")format("svg");
}

@font-face {
    font-family: "Roobert Medium";
    src: url("https://db.onlinewebfonts.com/t/fdd7abd88b9d820ffbf7108209dba1ce.eot");
    src: url("https://db.onlinewebfonts.com/t/fdd7abd88b9d820ffbf7108209dba1ce.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/fdd7abd88b9d820ffbf7108209dba1ce.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/fdd7abd88b9d820ffbf7108209dba1ce.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/fdd7abd88b9d820ffbf7108209dba1ce.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/fdd7abd88b9d820ffbf7108209dba1ce.svg#Roobert Medium")format("svg");
}



/*---------
Configuracion Global
---------*/
*{   /* el * significa que se aplica a todos los elementos del documento, un estilo universal */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-pink: #F5018E;
    --color-blue: #2932D9;
    --color-white: #FFF9F7;
    --color-black: #0D0705;
    --color-grey: #e3dadb;
    --font-display: 'Spoof Trial Thin';
    --font-body: 'Roobert Medium';
    --section-padding: 3rem 8rem;
}

section h1, section h2, section h3, section h4, section h5, section h6 {
    color: var(--title-color);
    font-family: var(--font-display);
}

section p {
    color: var(--text-color);
    font-family: var(--font-body);
}



/*---------
Navbar
---------*/

#navbar .navbar{ 
    background-color: var(--color-pink) !important;
    font-family: "Spoof Trial Thin";
    --bs-navbar-active-color: var(--color-white);
    --bs-navbar-color: var(--color-white); /*color del texto de los otros links*/
    --bs-navbar-hover-color: var(--color-white);
    --bs-navbar-brand-color: var(--color-white); /*color del texto al aldo del logo*/
    --bs-navbar-brand-hover-color: var(--color-white); 
    --bs-navbar-brand-margin-end: -15rem; /*para lograr centrar los links*/
}


/*---------
Banner 
---------*/
#banner{
    padding: var(--section-padding);
    --title-color: var(--color-blue);
    --text-color: var(--color-black);
}

.btn{
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--color-pink);
    --bs-btn-border-color: var(--color-pink);
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-hover-bg: var(--color-pink);
    --bs-btn-hover-border-color: var(--color-pink);
    --bs-btn-active-bg: var(--color-pink);
    --bs-btn-active-border-color: var(--color-white);
    --bs-btn-font-family: var(--font-display);
}


/*---------
Cards
---------*/
#cards_section{
    padding: var(--section-padding);
    --title-color: var(--color-white);
    --text-color: var(--color-white);
    background-color: var(--color-blue)
}

#cards{
    background-color: var(--color-grey);
    --title-color: var(--color-black);
    --text-color: var(--color-black);
    border: none;
}

.card-deck{
    display: flex;
    gap: 20px;/* espacio entre cards */
    flex-wrap: wrap;/* permite que bajen si no caben */
}


/*---------
CardForm
---------*/
.cardForm{
    width: 30%;
    height: 100%;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
}